.tooltip-bivariate-map,
.tooltip-bivariate-map-access,
.tooltip-bivariate-map-distance {
  z-index: 999;
}

#sdoh-svg-container,
#access-svg-container,
#distance-svg-container {
  position: relative;
}

.observable-flex-container {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1228px;
}

.observable-flex-child-1 {
  background: var(--grayscale-white, #fff);
  box-shadow: 0px 0px 1px 0px rgba(5, 28, 44, 0.15),
    0px 8px 16px -1px rgba(5, 28, 44, 0.2);
  padding: 16px 14px;
  height: fit-content;
  margin: 20px 5px;
  width: 330px;
}

.observable-flex-child-2 {
  width: 100%;
}

/* vertically align icon and text */
#observablehq-legendTitle-2efbcca2 span,
#observablehq-filterTitle-2efbcca2 span,
#observablehq-legendTitle-66c14cf9 span,
#observablehq-filterTitle-66c14cf9 span,
#observablehq-legendTitle-c797d0e6 span,
#observablehq-filterTitle-c797d0e6 span {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* slightly increase width of tabbed content so map has more room */
.tabbed-content {
  max-width: 1228px;
}

form.oi-66c06c-toggle {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#observablehq-viewof-povertyFilter-2efbcca2,
#observablehq-viewof-lunchFilter-2efbcca2,
#observablehq-viewof-transportFilter-2efbcca2,
#observablehq-viewof-physiciansFilter-66c14cf9,
#observablehq-viewof-uninsuredFilter-66c14cf9,
#observablehq-distanceLabel-c797d0e6 {
  margin-bottom: -15px;
  margin-top: 25px;
}

#observablehq-distanceMarkerLegend-c797d0e6 {
  margin-top: 25px;
}

form.oi-66c06c > label {
  width: fit-content;
}

#observablehq-viewof-cviFilter-2efbcca2 > form > label,
#observablehq-viewof-cviFilterAccess-66c14cf9 > form > label,
#observablehq-viewof-cviFilterDistance-c797d0e6 > form > label {
  pointer-events: none;
}

form.oi-66c06c {
  flex-wrap: wrap;
}

.oi-66c06c-input {
  flex-direction: row-reverse;
  gap: 8px;
}

/* hide numeric input for range slider */
.oi-66c06c-input > input[type="number"] {
  pointer-events: none;
  border: none;
  width: 90px;
}

.oi-66c06c-input > input[type="range"] {
  height: 2px;
}

#observablehq-filterTitle-2efbcca2,
#observablehq-filterTitle-66c14cf9,
#observablehq-filterTitle-c797d0e6 {
  padding-bottom: 10px;
}

#observablehq-chart-2efbcca2,
#observablehq-accessChart-66c14cf9,
#observablehq-distanceChart-c797d0e6 {
  display: none;
}

#observablehq-noDataLegend-2efbcca2,
#observablehq-noDataLegendAccess-66c14cf9,
#observablehq-noDataLegendDistance-c797d0e6 {
  margin-top: 25px;
}

.observable-flex-container-2 {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 14px;
}

.cvi-modal-link:hover {
  background-color: var(--brand-dark-green, #00cc9f);
}

/* Data table styles */
.align-right {
  text-align: right;
}

th:focus {
  border: #00cc9f solid 3px;
}

.paginate_button:focus {
  border: #008253 solid 3px !important;
}

/* screen reader only styles */
.sr-only:not(:focus, :focus-within, :active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.bivar-map-instructions {
  gap: 30px;
}

@media screen and (max-width: 480px) {
  .observable-flex-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .bivar-map-instructions {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
