.main > * {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}

/* auto margin for expandable FAQ */
.faqs-page-wrapper.faq-feed {
  margin: auto;
}

/* .main {
  padding-left: 0;
  padding-right: 0;
} */

/* Make bullets white */
li:before {
  color: white !important;
}
ul {
  padding-left: 0 !important;
}

.alignfull {
  max-width: none;
	margin-left: 0 !important; 
	margin-right: 0 !important; 
}

.alignwide {
  max-width: 1170px;
}

.banner .text-content,
.headline .text-content {
  max-width: 992px;
}

* {
  box-sizing: border-box;
}

/* #intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__hed {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  color: #8a8a8a;
} */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* #intro {
  margin-bottom: 320px;
}

#outro {
  height: 640px;
} */

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

#scrolly {
  position: relative;
  /* background-color: #f3f3f3; */
  padding: 1rem;
}

article {
  position: relative;
  padding: 0;
  max-width: 992px;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  z-index: 0;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 2rem auto;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active p {
  background-color: #ffffff80;
  color: #000000;
}

.step p {
  text-align: center;
  /* font-size: 1.5rem; */
  font-size: 20px;
  color: #000000;
  border: 1px solid var(--neutrals-06-super-pale-gray, #f0f0f0);
  background: #fff;
  box-shadow: 0px 0px 1px 0px rgba(5, 28, 44, 0.15),
    0px 4px 8px -1px rgba(5, 28, 44, 0.2);
  padding: 10px;
}

.animation-toggle-container {
  display: flex;
  justify-content: space-evenly;
  gap: 7px;
  background-color: #06a6ea1a;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}

/* ---------- custom toggle button --------------- */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 9px;
  background-color: #f2f2f2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.animation-slider {
  top: 0;
  bottom: -1px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #cccccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1d4f91;
}

input:checked + .slider:before {
  background-color: #ffffff;
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #1d4f91; */
  border: 3px solid #008253;
}

input:checked:focus + .slider {
  border: 3px solid #00cc9f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:focus + .slider:before {
  /* box-shadow: 0 0 1px #1d4f91; */
  bottom: 2px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid #b9bbbf;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-label {
  cursor: pointer;
}

/* -------------------------------------------------- */

/* Table styles */
#data-table {
  display: table;
}

.align-right {
  text-align: right;
}

th:focus {
  border: #00cc9f solid 3px;
}

.paginate_button:focus {
  border: #008253 solid 3px !important;
}

/* Adding on/off text to toggle - inspired by https://stackoverflow.com/questions/39846282/how-to-add-the-text-on-and-off-to-toggle-button */
.animation-slider:after {
  content: "off";
  font-weight: 400;
  color: #000000;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 70%;
  font-size: 14px;
}

input:checked + .animation-slider:after {
  content: "on";
  left: 30%;
  color: #ffffff;
}

.animation-toggle-description {
  max-width: 500px;
}

/* -------------------------------------------------- */

/* SVG text on high-contrast backgrounds  */
text {
  fill: windowText;
}

/* -------------- tooltip styles --------------  */

#static-graphic-map-2 {
  position: relative;
}

.tooltip-scrolly-map,
.tooltip-keyboard-nav {
  position: absolute;
  background: #ffffff;
  color: #000000;
  border-radius: 2px;
  left: 0px;
  top: 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 -5px 15px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  padding: 12px;
}

.tooltip-scrolly-map:before,
.tooltip-keyboard-nav:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 18px solid #ffffff;
  border-left: 15px solid transparent;
  margin-left: -15px;
}

.sr-only:not(:focus, :focus-within, :active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* @media screen and (min-width: 992px) {
  .tooltip-scrolly-map:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: 18px solid #ffffff;
    border-left: 15px solid transparent;
    margin-left: -15px;
  }
} */
